extends layout

block content
  h1= title
  p Welcome to #{title}

  section
    each cat in categories
      nav
        div
            a(href='/category/'+cat.category)= cat.category

  section
    select(name="pets" id="pet-select")
        each d in dates
            option(value="d.date")= d.date


  section
    each article, index in articles
      if index < 10
          div
            a(href=article.url)
                img(src=article.img alt=article.title loading="lazy" height="200")
          div= article.title
          div= article.date
          div= article.text

block footer
    script('/javascripts/footer.js')
